.CUI-DialogTitle {
  flex: 0 0 auto;
  margin: 0;
  padding: 16px 24px;

  .CUI-DialogTitle__title {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    margin: 0;
  }
}
