.valid-status-popover-content {
  width: 280px;
}

.valid-status-popover-content__header {
  display: flex;
  align-items: center;
  background: rgba(33, 150, 83, 0.05);
  padding: 12px 16px;
}

.valid-status-popover-content__header__title {
  font-size: 14px;
  margin: 0 0 0 8px;
}

.valid-status-popover-content__body {
  padding: 12px 16px 16px 16px;
}

.valid-status-popover-content__body__title {
  font-size: 12px;
  margin: 0 0 8px 0;
}

.valid-status-popover-content__body__description {
  font-size: 12px;
  margin: 0 0 12px 0;
}
