.condition-node-body__table__row {
  position: relative;
}

.condition-node-body__table__row__show-all-option {
  cursor: pointer;
  padding: 4px 8px;
  font-size: 14px;

  &:hover {
    background: #f5f5f5;
  }

  &.condition-node-body__table__row__show-all-option--disabled {
    cursor: default;
    color: #9e9e9e;

    &:hover {
      background: transparent;
    }
  }
}

.condition-node-body__table__row--last {
  .td {
    border: none;
  }
}

.condition-node-body__table__row__action-cell {
  display: flex;
  padding: 2px;
  border-radius: 4px;

  .CUI-IconButton {
    width: 20px;
    height: 20px;
    padding: 6px;

    .svg-icon {
      width: 16px;
      height: 16px;
    }
  }
}
