.intent-node-header {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  background: #1565c0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.intent-node-header__leading-icon {
  margin-right: 4px;
  color: #ffffff;
  width: 20px;
  height: 20px;
}

.intent-node-header__title {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  flex-grow: 1;
  text-align: left;
  margin: 0;
}

.intent-node-header__more-options-button {
  color: #ffffff;
  width: 24px;
  height: 24px;
}

.intent-node-header__more-options-button__icon {
  width: 20px;
  height: 20px;
}
