.Header {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  background: rgba(33, 124, 232, 0.07);
}

.LeadingIcon {
  margin-right: 8px;
  color: #217ce8;
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}

.Title {
  color: '#253134';
  font-size: 16px;
  font-weight: 500;
  flex-grow: 1;
  text-align: left;
  margin: 0;
}
