.CUI-Menu {
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
  border-radius: 4px;
  background: white;
  z-index: 2000;
}

.CUI-MenuList {
  padding: 8px 0;
  margin: 0;
  list-style: none;
}
