.CUI-Autocomplete {
  position: relative;
}

.CUI-Autocompelete__input {
  padding-right: 24px;
  text-overflow: ellipsis;
}

.CUI-Autocomplete__drop-down {
  position: fixed;
  background: white;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  padding: 4px 0px;
  max-height: 244px;
  overflow-y: auto;
  z-index: 1;
};

.CUI-Autocomplete__drop-down__item {
  padding: 4px 8px;
  cursor: pointer;
  text-align: left;
  font-size: 14px;
  word-break: break-all;
  
  &:hover {
    background:#f5f5f5;
  }
}

.CUI-Autocomplete__drop-down__item--selected {
  background: #f5f5f5;
}

.CUI-Autocomplete__drop-down__no-matching-option {
  font-size: 14px;
  padding: 4px 8px;
  text-align: left;
}

.CUI-Autocomplete__drop-down-icon {
  position: absolute;
  right: 4px;
  top: 0;
  color: rgba(0, 0, 0, 0.54);
  pointer-events: none;
}
