.global-terminate-node__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: transparent;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  color: #ffffff;
  border: 2px solid #434343;
  border-radius: 50%;
  padding: 8px;
  width: 32px;
  height: 32px;
}

.global-terminate-node__container__child {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #434343;
}

.global-terminate-node--selected {
  box-shadow: 0px 0px 4px #3ab6f3;
  border-radius: 50%;
}
