*,
*::before,
*::after {
  box-sizing: border-box;
}

.workflow-app {
  text-align: center;
  height: 100vh;
  display: flex;
  background: #e8e8e8;
}

.workflow-app .react-flowy__edge-path {
  stroke: #66666f;
  stroke-width: 2;
  fill: none;
}

.workflow-app path.react-flowy__edge-path--invalid {
  stroke: #ef4a3c;
}

.workflow-app path.react-flowy__edge-path--loop-end {
  stroke: purple;
  stroke-dasharray: 4;
}

.workflow-app .react-flowy__thinarrow--error {
  stroke: #ef4a3c;
  fill: #ef4a3c;
}

.workflow-app .react-flowy__thinarrow, .workflow-app .edge__start-indicator {
  stroke: #66666f;
  fill: #66666f;
}

.workflow-app .react-flowy__thinarrow--loop-end {
  stroke: purple;
  fill: purple;
}

.workflow-app .edge__start-indicator.edge__start-indicator--loop-end {
  stroke: purple;
  fill: purple;
}

.workflow-app .edge__start-indicator.edge__start-indicator--invalid {
  stroke: #ef4a3c !important;
  fill: #ef4a3c !important;
}

.workflow-app-logo {
  height: 40vmin;
  pointer-events: none;
}

.workflow-app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.workflow-app-link {
  color: #61dafb;
}
